In [21]:
import spacy #nlp
import pdfminer #pdf2tx
import re #regex
import os #file manip
import pandas as pd #csv - tabular

In [22]:
import pdf2txt

In [23]:
# converting pdf to txt
def convert_pdf(f):
    output_filename = os.path.basename(os.path.splitext(f)[0]) + ".txt"
    output_filepath = os.path.join("output/txt/", output_filename)
    pdf2txt.main(args=[f, "--outfile", output_filepath]) #pdf to txt and save it in the given location
    print(output_filepath + " saved successfully!!!")
    return open(output_filepath,encoding="utf8").read()
#     return open(output_filepath,errors='ignore').read()

In [24]:
# load the language model
nlp = spacy.load("en_core_web_sm") #Lowest accuracy
# nlp = spacy.load("en_core_web_lg") #high accuracy

In [25]:
result_dict = {'name': [], 'phone': [], 'email': [], 'skills': []} 
names = []
phones = []
emails = []
skills = []

In [26]:
def parse_content(text):
    skillset = re.compile("git|python|java|sql|hadoop")
    phone_num = re.compile("(\d{3}[-\.\s]??\d{3}[-\.\s]??\d{4}|\(\d{3}\)\s*\d{3}[-\.\s]??\d{4})")
    
    doc = nlp(text)
#     print(doc)
    name = [entity.text for entity in doc.ents if entity.label_ == "PERSON"][0]
    print(name)
    email = [word for word in doc if word.like_email == True][0]
    print(email)
    phone = str(re.findall(phone_num, text.lower()))
    skills_list = re.findall(skillset, text.lower())
    unique_skills_list = str(set(skills_list))
    
    names.append(name)
    emails.append(email)
    phones.append(phone)
    skills.append(unique_skills_list)
    print("Extraction completed successfully!!!")

In [27]:
for file in os.listdir('resumes/'):
    if file.endswith('.pdf'):
        print('Reading.....' + file)
        txt = convert_pdf(os.path.join('resumes/',file))
        parse_content(txt)

Reading.....Alisson ParkerCV.pdf
output/txt/Alisson ParkerCV.txt saved successfully!!!
Alisson Parker-Wright
alli1414parks@mail.com
Extraction completed successfully!!!
Reading.....Anuj Mangukiya.pdf
output/txt/Anuj Mangukiya.txt saved successfully!!!
Anuj Mangukiya
anuj.mangukiya09@gmail.com
Extraction completed successfully!!!
Reading.....AshleyMilesCV.pdf
output/txt/AshleyMilesCV.txt saved successfully!!!
Ashley Miles
ashleymiles@memail.com
Extraction completed successfully!!!
Reading.....John DominicCV.pdf
output/txt/John DominicCV.txt saved successfully!!!
John Dominic
johndominic@mail.com
Extraction completed successfully!!!
Reading.....MA068_KAUSHAL_TARPARA.pdf
output/txt/MA068_KAUSHAL_TARPARA.txt saved successfully!!!
Kaushal Tarpara
kaushaltarpara10702@gmail.com
Extraction completed successfully!!!
Reading.....Rahul_Jogadiya.pdf
output/txt/Rahul_Jogadiya.txt saved successfully!!!
Rahul D. Jogadiya
rahuljogadiya3@gmail.com
Extraction completed successfully!!!
Reading.....ResumeOfRajnikumar-1.pdf
output/txt/ResumeOfRajnikumar-1.txt saved successfully!!!
Rajnikumar Tank
rajanitank99@gmail.com
Extraction completed successfully!!!
Reading.....Savan_Sutariya1_3.pdf
output/txt/Savan_Sutariya1_3.txt saved successfully!!!
SavanSutariya
savanpatel5248@gmail.com
Extraction completed successfully!!!

In [28]:
result_dict['name'] = names
result_dict['phone'] = phones
result_dict['email'] = emails
result_dict['skills'] = skills
#print(result_dict)

In [29]:
result_df = pd.DataFrame(result_dict)
result_df

,name,phone,email,skills
0,Alisson Parker-Wright ...,['8569878511'],alli1414parks@mail.com,"{'java', 'python'}"
1,Anuj Mangukiya,['9723191507'],anuj.mangukiya09@gmail.com,"{'java', 'sql', 'python'}"
2,Ashley Miles,['6592251422'],ashleymiles@memail.com,"{'sql', 'git'}"
3,John Dominic,['7877756411'],johndominic@mail.com,"{'java', 'hadoop', 'python'}"
4,Kaushal Tarpara,['8980664061'],kaushaltarpara10702@gmail.com,"{'sql', 'java', 'git', 'python'}"
5,Rahul D. Jogadiya,[],rahuljogadiya3@gmail.com,"{'java', 'sql', 'python'}"
6,Rajnikumar Tank,['9081944328'],rajanitank99@gmail.com,"{'java', 'sql', 'python'}"
7,SavanSutariya,['6355962815'],savanpatel5248@gmail.com,"{'sql', 'java', 'git', 'python'}"

In [30]:
result_df.to_csv('output/csv/parsed_resumes.csv')